@import "../runo/legacy-styles.css";

.v-slot-kikuyu-header {
    background: #ffffff;
    border-bottom: 2px solid #bbbbbb;
}

.v-label-kikuyu-header-label {
    color: #ee5311;
}

.validation-fail {
    color: #ee5311;
}

.instructions {
    font-weight: bold;
}

